<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Education</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/Education">Education</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>
<header>
        <h2>My Education & Qualification:</h2>
    
    </header>

    <main>
        <p>1. I have done B.Tech in Mechanical Engineering from Techno International Newtown. With 8.75 CGPA</p>
        <p>2. I have done Diploma in Mechanical Engineering from Saroj Mohan Institute Of Technology. with 7.7 CGPA</p>
    </main>
</body>
</html>
