<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/Education">Education</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>
<header>
        <h2>Hi, I'm Subhankar Das 👋</h2>
    
    </header>
    <main>
        <p>
Mechanically trained and software-driven professional with a Diploma and B.Tech in Mechanical Engineering, bringing a strong foundation in engineering principles combined with a growing passion for software development. Quick to adapt and eager to bridge the gap between mechanical systems and digital solutions. Skilled in problem-solving, logical thinking, and technical analysis, with hands-on experience in programming, software tools, and development environments. Seeking to leverage a unique blend of engineering insight and coding skills to build innovative and efficient software solutions. 

        </p>
    </main>

    <footer>
        <p>&copy; 2025 My Portfolio</p>
    </footer>
</body>
</html>
