<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>My Projects</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/Education">Education</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>

    <main>
        <ul>
            <li>Project 1 – Low Cost Refrigeration By Using LPG</li>
            <li>Project 2 – CSV File Reader By Using CSV file Path</li>
            <li>Project 3 – Automation Controller Programming </li>
        </ul>
    </main>
</body>
</html>
